@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --fuente-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F3F5FC;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0% 100% 5% 0%;
}

.main__section {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  height: 100%;
}

.input__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 100%;
  height: 25%;
  border: none;
  border-radius: 32px;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  padding: 20px;
  font-family: var(--fuente-inter);
  font-weight: 500;
  font-size: 1.5rem;
  resize: none;
  margin-bottom: 20px;
}

.text-output {
  font-family: var(--fuente-inter);
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  resize: none;
  width: 95%;
  text-align: center;
  /* height: auto; */
}

.out__bg {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  padding: 5%;
  text-align: center;
  width: 400px;
  height: 944px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mensaje__texto {
  font-family: var(--fuente-inter);
  font-size: 1.5rem;
  font-weight: 700;
}

.mensaje__texto2 {
  font-family: var(--fuente-inter);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 15%;
}

.texto__copiado{
  font-family: var(--fuente-inter);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 15%;
  display: none;
  position: sticky;
}

.info__section {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 64px;
  padding-bottom: 16px;
}

.info__text {
  font-family: var(--fuente-inter);
  font-size: 12px;
  font-weight: 400;
  color: #495057;
}

.btn__container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.btn__copy {
  display: none;
  margin-top: auto;
  background-color: #FFFFFF;
  color: #0A3871;
  font-family: var(--fuente-inter);
  font-weight: 400;
  font-size: 1rem;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid;
  width: 328px;
  height: 67px;
  top: 400px;
  cursor: pointer;
}

.btn__ecript {
  background-color: #0A3871;
  color: #FFFFFF;
  font-family: var(--fuente-inter);
  font-weight: 400;
  font-size: 1rem;
  padding: 24px;
  border-radius: 24px;
  border: none;
  width: 328px;
  height: 67px;
  cursor: pointer;
}

.btn__dcript {
  background-color: #D8DFE8;
  color: #0A3871;
  font-family: var(--fuente-inter);
  font-weight: 400;
  font-size: 1rem;
  padding: 24px;
  border-radius: 24px;
  border: none;
  width: 328px;
  height: 67px;
  cursor: pointer;
}

.btn__ecript:hover {
  background-color: #3164a1;
}

.btn__dcript:hover {
  background-color: #c5ddfb;
}

.btn__copy:hover {
  background-color: #3164a1;
  color: #ffffff;
}

.error {
  background-color: rgba(230, 55, 55, 0.733);
  font-family: var(--fuente-inter);
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 20px;
}